--- 
before_install: 
  - "docker build -t eureka4eva/docker-react -f Dockerfile.dev ."
script: 
  - "docker run eureka4eva/docker-react npm run test -- --coverage"
services: 
  - docker
sudo: required