sudo: required
before_install: 
  - "docker build -t eureka4eva/docker-react -f Dockerfile.dev ."
before_install:
  - 'sudo gem install bundler'
script: 
  - "docker run eureka4eva/docker-react npm run test -- --coverage"
services: 
  - docker
